/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.beautiful-link{
  display: block;
  margin-top: 30px;
  text-align: center;
  color: red;
}
